body, html {
	height: 100%;
	position: relative;
}

nav.navbar {
	position: sticky;
	top: 0px;
	z-index: 1;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 15px;
	z-index: 99;
	font-size: 10px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 6px;
	border-radius: 10px;
	}

#myBtn:hover {
	background-color: green;
	}

/* konfiguracja menu  glowne*/
.navbar-inverse .navbar-nav > .active > a {
	color: rgb(137, 172, 255);
	background-color: #1b1b1b;
}

.navbar-inverse .navbar-nav > .active > a:hover {
	color: white;
}

/* Logowanie social */
body {
	font-family: Arial, Helvetica, sans-serif;
}

a:focus, a:hover {
	color: #fff;
	box-shadow: 0px 0px 10px 0px #222222;
	text-decoration: inherit;
	opacity: 1;
}

.container_soc_all {
	margin-left: 10%;
	margin-right: 10%;
}

/* style the container */
.container_soc {
	position: inherit;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px 0 25px 0;
} 

/* style inputs and link buttons */
input, .btn_soc {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 5px;
	margin: 5px 0;
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
}

h5 {
	color: 9b9b9b;
	margin: 20px 0 5px;
	font-size: 15px;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
	background-color: #3B5998;
	color: white;
}

.twitter {
	background-color: #55ACEE;
	color: white;
}

.google {
	background-color: #dd4b39;
	color: white;
}

/* przyciski stylizacja */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
	box-shadow: 0px 0px 10px 0px #222222;
}

input[type=text] {
	border: solid 1px #d1d1d1;
	border-radius: 10px;
}

input[type=text]:hover {
	box-shadow: inset 0 0px 10px -3px #0009;
}

input[type=password] {
	border: solid 1px #d1d1d1;
	border-radius: 10px;
}

input[type=password]:hover {
	box-shadow: inset 0 0px 10px -3px #0009;
}


/* Two-column layout */
.col_soc {
	float: left;
	width: 50%;
	margin: auto;
	padding: 0 30px;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row_soc:after {
	content: "";
	display: table;
	clear: both;
}

/* hide some text on medium and large screens */
.hide-md-lg_soc {
	display: none;
}

/* bottom container */
.bottom-container_soc {
	text-align: center;
	border-radius: 10px;
	background-color: #323232;
	margin-top: 10px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
	.col_soc {
		width: 100%;
		margin-top: 0;
	}

	/* show the hidden text on small screens */
	.hide-md-lg_soc {
		display: block;
		text-align: center;
	}
}