<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>Drogi wspinaczkowe</name>
    <description>Drogi wspinaczkowe mobile app</description>
	<platform name="android" />
</widget>
